main .banner form {
  grid-row: 3 / 6;
  grid-column: 1 / 4;
  background-color: #fff;
  margin: 0 var(--marginHorizontal);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);

  gap: 2px;

  padding: 1rem;
  border-radius: 1rem;
  /* min-height: 300px; */
}

main .banner form .input-group {
  height: 60px;
  border: 2px solid var(--colorPrimary);
  border-radius: 0.6rem;
  overflow: hidden;
}

main .banner form .input-group input {
  border: none;
  font-size: 0.9rem !important;
}

main .banner form .input-group span {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--bgHeader);
}

main .banner form .inputOrigem {
  grid-row: 1;
  grid-column: 1 / 5;
}

main .banner form .inputDestino {
  grid-row: 2;
  grid-column: 1 / 5;
}

#ida,
#volta {
  cursor: pointer;
}

main .banner form .inputIda {
  grid-row: 3;
  grid-column: 1 / 3;
}
main .banner form .inputVolta {
  grid-row: 3;
  grid-column: 3 / 5;
}

main .banner form .checkPassagem {
  grid-row: 4;
  grid-column: 1 / 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  color: var(--colorPrimary);
  /* gap: 5px; */
}

main .banner form .checkPassagem input[type="checkbox"] {
  display: none;
}

.checkPassagem input[type="checkbox"]:checked + label::before {
  content: "\f00c";
}

.checkPassagem label::before {
  font-family: "Font Awesome 6 Free";

  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /* padding: 5px; */
  height: 20px;
  width: 20px;
  border: 2px solid var(--colorPrimary);
  border-radius: 5px;
}

.checkPassagem label {
  display: flex;
  align-items: center;
}

.checkPassagem a {
  color: inherit;
  /* text-decoration: none; */
}

main .banner form .btnSubmit {
  grid-row: 5;
  grid-column: 1 / 5;
  height: 60px;
  background-color: var(--colorPrimary);
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  transition: .3s;
}

main .banner form .btnSubmit:hover {
  background-color: var(--bgHeader);
}
